<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC225DAD1CD8517F00416ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC225DC61CD8517F00416ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC225DD11CD8517F00416ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
